body {
  font-family: 'Cabin', sans-serif;
  color: white;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

header .navbar {
  height: 80px;
  background-color: #23272b;
  z-index: 1;
  padding: 0;
}

header .navbar .navbar-brand {
  color: white;
  font-size: xx-large;
  padding: 3px 10px;
  border-radius: 0.3em;
  background-color: #061646ee;
  -webkit-box-shadow: 2px 3px 2px white;
          box-shadow: 2px 3px 2px white;
  margin-bottom: 2.5px;
}

header .navbar .navbar-brand #it {
  font-weight: bold;
  color: #af6c1e;
}

header .navbar .active {
  border-bottom: 3px dotted #af6c1e;
}

header .navbar .navbar-toggler {
  margin-right: 16px;
}

header .navbar .collapse {
  z-index: 1;
}

header .navbar #navbarSupportedContent {
  margin-top: 10px;
  background: #23272b;
  padding: 0;
}

header .navbar #navbarSupportedContent ul {
  width: 100%;
  padding: 0;
}

header .navbar #navbarSupportedContent .nav-link {
  color: white;
  text-transform: uppercase;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
}

header #header_div_2 {
  padding: 0;
  min-width: 99.87vw;
  min-height: 100vh;
  width: 99.87vw;
  height: 100vh;
  background-image: url(/images/homePage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header #header_div_2 #header_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

header #header_div_2 h1 {
  padding: 1.5% 3%;
  text-transform: uppercase;
  color: white;
  background: rgba(46, 44, 44, 0.86);
  text-align: center;
  border-left: 15px double white;
  border-right: 15px double white;
}

header #header_div_2 #time {
  width: 50%;
  margin: -10% auto 1% auto;
}

header #header_div_2 #recode {
  width: 50%;
  margin: 0 auto 1% auto;
  padding-right: 0;
  -webkit-animation: change-color ease-in 4.17s infinite;
          animation: change-color ease-in 4.17s infinite;
}

header #header_div_2 div #left, header #header_div_2 div #right {
  color: white;
  font-size: 6rem;
  display: block;
  z-index: 1;
  position: absolute;
}

header #header_div_2 div #left {
  -webkit-animation: slide-left 4.179s ease-in infinite;
          animation: slide-left 4.179s ease-in infinite;
  bottom: 48.5vh;
  left: 31vw;
}

header #header_div_2 div #right {
  -webkit-animation: slide-right 4.179s ease-in infinite;
          animation: slide-right 4.179s ease-in infinite;
  bottom: 48.5vh;
  right: 29vw;
}

header #header_div_2 div:nth-of-type(3) {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: inherit;
}

header #header_div_2 div:nth-of-type(3) .btn {
  text-transform: uppercase;
  width: 25%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 12.5px 0;
  background-color: #061646ee;
}

main h1 {
  text-transform: uppercase;
  width: 30%;
  margin: 20px auto;
  font-size: 2.5em;
}

main h1 span {
  text-transform: uppercase;
  padding: 7px 0 7px 10px;
  color: #af6c1e;
  border-radius: 0.3em;
  font-weight: bold;
  font-size: 1.1em;
}

main #what_we_do {
  padding-top: 40px;
  background: #23272b;
  margin-bottom: 30px;
}

main #what_we_do #description p {
  color: rgba(236, 232, 232, 0.986);
  width: 80%;
  margin: 10px auto 120px auto;
  text-align: justify;
  font-size: 1.2em;
  line-height: 1.5em;
  padding: 30px 80px;
  border-left: 15px double #e4e2e2;
  border-right: 15px double #e4e2e2;
}

main #our_numbers {
  margin: 50px auto 10% auto;
}

main #our_numbers .row {
  width: 100%;
  margin: 20px auto;
  padding: 0;
  text-align: center;
}

main #our_numbers h1 {
  color: #061646ee;
  margin-bottom: 50px;
}

main #our_numbers #number_columns {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

main #our_numbers .cols {
  width: 80%;
  margin: 0 auto;
}

main #our_numbers .cols h3 {
  width: 55%;
  text-align: center;
  padding: 35px 15px;
  margin: 5px auto 0 auto;
  border: 3px solid #af6c1e;
  border-radius: 50%;
  color: white;
  background-color: #061646ee;
  z-index: 1;
}

main #our_numbers .cols #companies {
  font-size: 1.5rem;
  padding-right: 5px;
}

main #our_numbers .cols p {
  width: 90%;
  height: 200px;
  color: black;
  margin: -30px auto 0px auto;
  padding: 45px 25px 25px 25px;
  border-top: 8px double rgba(46, 44, 44, 0.5);
  border-left: 8px double #061646ee;
  border-right: 8px double #061646ee;
  border-bottom: 8px double #061646ee;
  z-index: -1;
}

main #who_we_are {
  padding-top: 40px;
  background: #23272b;
  margin-bottom: 30px;
}

main #who_we_are p {
  color: rgba(236, 232, 232, 0.986);
  width: 80%;
  margin: 10px auto;
  text-align: justify;
  font-size: 1.2em;
  line-height: 1.5em;
  padding: 30px 80px;
}

@-webkit-keyframes slide-left {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1.17);
            transform: scaleX(1.17);
    color: #003bee;
  }
}

@keyframes slide-left {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1.17);
            transform: scaleX(1.17);
    color: #003bee;
  }
}

@-webkit-keyframes slide-right {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1.17);
            transform: scaleX(1.17);
    color: #003bee;
  }
}

@keyframes slide-right {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1.17);
            transform: scaleX(1.17);
    color: #003bee;
  }
}

@-webkit-keyframes change-color {
  from {
    color: white;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    color: #ff9a26;
  }
}

@keyframes change-color {
  from {
    color: white;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    color: #ff9a26;
  }
}

@media screen and (min-width: 992px) {
  .nav-item {
    color: red;
  }
}
/*# sourceMappingURL=h_styles.css.map */