// ---------------- MEDIA QUERIES ----------------
@media only screen and (min-width: 560px) and (max-width: 990px) {
    #register_section{
        padding-bottom: 50px;
        form{
            width: 80%;
            fieldset{
                padding: 10px 60px;
            }
        }
    }
}

@media only screen and (min-width: 776px) {
    main{
        #what_we_do{
            #description{
                p{
                    padding: 30px 90px;
                    border-left: 15px double rgb(228, 226, 226);
                    border-right: 15px double rgb(228, 226, 226);
                }
            }
        }
    }
}

@media only screen and (max-width: 990px) {
    header{
        .navbar{
            .navbar-toggler{
                margin-right: 5%;
            }
        }
    }     
}

@media only screen and (min-width: 991px){
    header{
        .navbar-expand-lg .navbar-nav {
            justify-content: flex-end;
        }
        #header_row_2{
            #header_div_2{
                #header_column{    
                    h1{
                        font-size: 4.5rem;
                        padding: 0.5% 10px;
                    }
            
                    #time{
                        width: 65%;
                        font-size: 3.5rem;
                        padding: 0.5% 10px;
                    }
            
                    #recode{
                        font-size: 3.5rem;
                        padding: 0.5% 10px;
                        width: 65%;
                        margin-bottom: 1%;
                    }
            
                    .btn{
                        width: 40%;
                        font-size: 2rem;
                        margin: 0 auto;
                    }
               }
            }
        }
    }

    main{
        #our_supporters{
            h1{
                font-size: 2.5rem;
            }
        }
    }

    // ----------- FAQ PAGE STYLES ------------
    #faq_header_d2{
        h1,h2{
        border-left: 15px double white;
        border-right: 15px double white;
        
        }
        h1{
            font-size: 4.5rem;
            padding: 0.5% 50px;
        }
        h2{
            font-size: 2.5rem;
            padding: 1.5%;
        }
    }

    // ----------- CONTACT PAGE STYLES ------------
    #contact_header_d2{
            h1{
                font-size: 4.5rem;
                padding: 0.5% 250px;
            }
            h2{
                font-size: 3.5rem;
                padding: 0.75% 250px;
            }
    }

    // ----------- REGISTER PAGE STYLES ------------
    #register_header_d2{
        h1,h2{
            border-left: 15px double white;
            border-right: 15px double white;    
        }
        
        h1{
            font-size: 4.5rem;
            padding: 0.5% 100px;
        }
        h2{
            font-size: 2.5rem;
            padding: 1.5%;
        }
    }

    #register_section{
    form{
        width: 65%;

        fieldset{
            padding: 60px;
        }
    }
}
}



@media only screen and (min-width: 1200px) {
    header{
        #header_row_2{
            #header_div_2{
                #header_column{
                    #time{
                        margin: 2% auto 1% auto;
                    }
                }
            }
        }
    }
}